/* common */
body {
    background-color: lightblue;
    height: 100vh;
    display: flex;
}
.container {
    background-color: lightcoral;
    width: 100%;
    display: flex;
 
}
.sidebar { 
    background-color: gold;
    display: none;
}
.content {
    background-color: #eaeaea;
    flex-grow: 1;
}
header {
    background-color: #eaeaea ;
    padding: 5px;
    flex-shrink: 0;
   
}
.conversation {
    height: calc(100% - 115px);
    overflow-y: auto;
}
footer.message {
    background-color:  #eaeaea ;
    
    flex-shrink: 0;
}

 /* stile */

 /* header */
.img-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 20px;
}
  
  

.sidebar-icon , .content-icon {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;

}
.content-icon {
    display: none;
}
h3 {
    vertical-align: middle;
    font-size: 20px
}
.sidebar-icon , .content-icon {
    color: gray;
  
}
.dati-avatar{
    margin-top: 5px;
}
.last-access {
    margin-top: 5px;
    color:gray ;
    font-size: 15px;
}
/* //header */

/* conversation */
.conversation li{
    background-color: #d4f9bb;
    padding: 10px;
    margin: 15px 15px 15px 120px;
    border-radius: 10px;
    
}
.conversation li:nth-child(1){
    margin: 30px 15px 15px 120px;
    
}
#your-message{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 15px 120px 15px 15px;
    border-radius: 10px;
    
}
.my-message {
    position: relative;
}
#your-message {
    position: relative;
}
.my-message .fa-chevron-down {
    position: absolute;
    right: 8px;
    color: #bbbcbb;
}
#your-message .fa-chevron-down {
    position: absolute;
    right: 8px;
    color: #bbbcbb;
}
.my-message .hour  {
    text-align: end;
    font-size: 12px;
    font-weight: 700;
    color: #bbbcbb;
}
#your-message .hour  {
    text-align: end;
    font-size: 12px;
    font-weight: 700;
    color: #bbbcbb;
}
.my-message p , #your-message p  {
    padding: 5px 25px 0 0;
}

.conversation {
    background-image: url("../../img/mine.jpg");    
}


/* //conversation */

/* footer */
footer {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer #message {
    width: 100%;
    padding: 10px ;
    border-radius: 5px;
    border: none;
    margin: 0 15px;
 }
 footer i {
    color: gray;

 }
/* //footer */

/* chats */
ul li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
}
/* //chats */

/* notifiche */
.notifiche {
    padding: 10px;
}
.notifiche-icon {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    margin-right: 15px
}
.fa-bell-slash {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: #8fdafc;
}
.dati-avatar a {
    color: gray;
}
/* //notifiche */

/* search */
.search {
    padding: 10px 5px;
    background-color: white;
}
.search i {
    width: 30px;
    height: 30px;
    color: gray;
   
    margin-left: 10px;
    background-color: white;
}
.search input {
    border: none;
    width: calc(100% - 50px);
    background-color: white;
    height: 30px;
    padding: 5px;

}

/* VUE */
.active {
    background-color: lightgrey;
}